<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'emergency_request:extra_3' %}"
                                    class="nav-link {% if navbar == 'extra_3' %}active{% endif %}"
                                    aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="{% url 'emergency_request:views_1' %}"
                                    class="nav-link {% if navbar == 'views_1' %}active{% endif %}"
                                    aria-current="page">1</a></li>
            <li class="nav-item"><a href="{% url 'emergency_request:views_2' 2 %}"
                                    class="nav-link {% if navbar == 'views_2' %}active{% endif %}"
                                    aria-current="page">2</a></li>
            <li class="nav-item"><a href="{% url 'emergency_request:views_3' %}"
                                    class="nav-link {% if navbar == 'views_3' %}active{% endif %}"
                                    aria-current="page">3</a></li>
            <li class="nav-item"><a href="{% url 'emergency_request:views_4' %}"
                                    class="nav-link {% if navbar == 'views_4' %}active{% endif %}"
                                    aria-current="page">4</a></li>
            <li class="nav-item"><a href="{% url 'emergency_request:views_6' 2 %}"
                                    class="nav-link {% if navbar == 'views_6' %}active{% endif %}"
                                    aria-current="page">6</a></li>
        </ul>
    </header>
</div>