<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/admin/">iTCODE Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'emergency_request:views_3' %}">Django</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'emergency_request:views_5' %}?phone_number=21">Phone</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'emergency_request:views_4' %}">HTTP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'emergency_request:views_6' 2 %}">JSON</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Экстренные службы</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="{% url 'emergency_request:emergency_list_function' %}">Список служб (Functions)</a>
                    <a class="dropdown-item" href="{% url 'emergency_request:emergency_list_view' %}">Список служб
                        (Views)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Заявители</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="{% url 'emergency_request:applicant_list_function' %}">Список заявителей
                        (Functions)</a>
                    <a class="dropdown-item" href="{% url 'emergency_request:applicant_list_view' %}">Список заявителей
                        (Views)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Обращения</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                    <a class="dropdown-item" href="{% url 'emergency_request:request_list_function' %}">Список обращений
                        (Functions)</a>
                    <a class="dropdown-item" href="{% url 'emergency_request:request_list_view' %}">Список обращений
                        (Views)</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</nav>