{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav_models_v.html' %}
{% endblock %}

{% block title %}
Заявитель
{% endblock %}

{% block content %}
    <div class="container py-5 align-items-center">
        <h1>Заявитель</h1>
        {% if applicant %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя заявителя</th>
                <th scope="col">Фамилия заявителя</th>
                <th scope="col">Отчество заявителя</th>
                <th scope="col">Дата рождения заявителя</th>
                <th scope="col">Состояние здоровья</th>
                <th scope="col">Телефон заявителя</th>
                <th scope="col">Пол</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ applicant.id }}</th>
                <td>{{ applicant.first_name }}</td>
                <td>{{ applicant.last_name }}</td>
                <td>{{ applicant.patronymic }}</td>
                <td>{{ applicant.birthdate }}</td>
                <td>{{ applicant.health_status }}</td>
                <td>{{ applicant.phone_number }}</td>
                <td>{{ applicant.gender }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
    </div>

{% endblock content %}
