{% extends 'base.html' %}

{% block title %}
Заявитель
{% endblock %}

{% block content %}
{% if applicant %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                       src="https://picsum.photos/600/700" alt="{% lorem 1 p %}"></div>
            <div class="col-md-6">
                <div class="small mb-1">Заявитель</div>
                <h1 class="display-5 fw-bolder">{{ applicant.first_name }} {{ applicant.last_name }}</h1>
                <p class="lead mb-0">День рождения: {{ applicant.birthdate }}</p>
                <p class="lead mb-0">Телефон: {{ applicant.phone_number }}</p>
                <p class="lead">{% lorem 1 p %}</p>
                <a class="btn btn-outline-dark" href="{% url 'emergency_request:applicant_update' applicant.pk %}"
                   role="button">
                    <i class="bi bi-robot"></i>
                    Редактировать
                </a>
                <a class="btn btn-outline-dark" href="{% url 'emergency_request:applicant_create' %}" role="button">
                    <i class="bi bi-rocket-takeoff"></i>
                    Создать новую
                </a>
            </div>
        </div>
    </div>
</section>

{% else %}
<p>Not available.</p>
{% endif %}

{% endblock content %}
