{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav_models_v.html' %}
{% endblock %}

{% block title %}
Заявители
{% endblock %}

{% block content %}
<div class="container py-5 align-items-center">
        <h1>Заявители</h1>
        <br>

        {% if applicants %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя заявителя</th>
                <th scope="col">Фамилия заявителя</th>
                <th scope="col">Отчество заявителя</th>
                <th scope="col">Дата рождения заявителя</th>
                <th scope="col">Состояние здоровья</th>
                <th scope="col">Телефон заявителя</th>
                <th scope="col">Пол</th>
            </tr>
            </thead>
            <tbody>
            {% for applicant in applicants %}
            <tr class="{% if forloop.first or forloop.last %}{{ color_choices }}{% endif %}">
                <th scope="row"><a href="{% url 'emergency_request:applicant_v' applicant.id %}">{{ applicant.id }}</a></th>
                <td>{{ applicant.first_name | lower | capfirst | default:"Вася" }}</td>
                <td>{{ applicant.last_name | lower | capfirst | default:"Васильев" }}</td>
                <td>{{ applicant.patronymic | lower | capfirst | default:"Васильевич" }}</td>
                <td>{{ applicant.birthdate }}</td>
                <td>{{ applicant.health_status }}</td>
                <td>{{ applicant.phone_number }}</td>
                <td>{{ applicant.gender }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
        <p>Количество записей: {{ applicants | length }} шт.</p>
    </div>
{% endblock content %}
