{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
{% include 'includes/nav_models.html' %}
{% endblock %}

{% block title %}
Экстренные службы
{% endblock %}

{% block content %}
<div class="container py-5 align-items-center">
        <h1>Экстренные службы</h1>
        <br>

        {% if emergencies %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя службы</th>
                <th scope="col">Коды службы</th>
                <th scope="col">Телефон</th>
            </tr>
            </thead>
            <tbody>
            {% for emergency in emergencies %}
            <tr class="{% if forloop.first or forloop.last %}{{ color_choices }}{% endif %}">
                <th scope="row"><a href="{% url 'emergency_request:emergency_f' emergency.slug %}">{{ emergency.id }}</a></th>
                <td>{{ emergency.service_name|upper }}</td>
                <td>{{ emergency.service_code }}</td>
                <td>{{ emergency.phone_number }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Not available.</p>
        {% endif %}
        <p>Количество записей: {{ emergencies | length }} шт.</p>
    </div>
{% endblock content %}
