{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav_models.html' %}
{% endblock %}

{% block title %}
Обращения
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>
        Обращения
    </h1>
    <div class="container py-5 align-items-center">
        {% if requests %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Описание</th>
                <th scope="col">Номер карточки</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Не звонить</th>
                <th scope="col">Статус</th>
                <th scope="col">Экстренная служба</th>
                <th scope="col">Заявитель</th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
            <tr>
                <th scope="row">{{ request.id }}</th>
                <td>{{ request.text }}</td>
                <td>{{ request.number }}</td>
                <td>{{ request.dc }}</td>
                <td>{{ request.injured }}</td>
                <td>{{ request.do_not_call }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.applicant_id }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
    </div>

    {% endblock content %}
