{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav_models.html' %}
{% endblock %}

{% block title %}
Экстренная служба
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>
        Экстренная служба
    </h1>
    <div class="container py-5 align-items-center">
        {% if emergency %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя службы</th>
                <th scope="col">Коды службы</th>
                <th scope="col">Телефон</th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ emergency.id }}</th>
                <td>{{ emergency.service_name }}</td>
                <td>{{ emergency.service_code }}</td>
                <td>{{ emergency.phone_number }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
    </div>

    {% endblock content %}
