{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav_models.html' %}
{% endblock %}

{% block title %}
Обращение
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>
        Обращение
    </h1>
    <div class="container py-5 align-items-center">
        {% if single_request %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Описание</th>
                <th scope="col">Номер карточки</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Количество пострадавших</th>
                <th scope="col">Не звонить</th>
                <th scope="col">Статус</th>
                <th scope="col">Экстренные службы</th>
                <th scope="col">Заявитель</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ single_request.id }}</th>
                <td>{{ single_request.text }}</td>
                <td>{{ single_request.number }}</td>
                <td>{{ single_request.dc }}</td>
                <td>{{ single_request.injured }}</td>
                <td>{{ single_request.do_not_call }}</td>
                <td>{{ single_request.status }}</td>
                <td>
                    {% for service in single_request.emergency_service.all %}
                        {{ service.service_name }}
                    {% endfor %}
                </td>
                <td>{{ single_request.applicant.first_name }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}