{% extends 'base.html' %}

{% block title %}
Обращение
{% endblock %}

{% block content %}
{% if single_request %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                       src="https://picsum.photos/600/700" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">Обращение</div>
                <h1 class="display-5 fw-bolder">{{ single_request.number }}</h1>
                <p class="lead mb-0">Дата создания: {{ single_request.dc }}</p>
                <p class="lead mb-0">Экстренные службы:
                    {% for request in single_request.emergency_service.all %}
                    {{ request.service_name }}
                {% endfor %}
                </p>
                <p class="lead mb-0">Имя заявителя: {{ single_request.applicant.first_name }}</p>
                <p class="lead">{% lorem 1 p %}</p>
                <a class="btn btn-outline-dark" href="{% url 'emergency_request:request_update_view' single_request.pk %}"
                   role="button">
                    <i class="bi bi-robot"></i>
                    Редактировать
                </a>
                <a class="btn btn-outline-dark" href="{% url 'emergency_request:request_create_view' %}" role="button">
                    <i class="bi bi-rocket-takeoff"></i>
                    Создать новую
                </a>

            </div>
        </div>
    </div>
</section>


{% else %}
<p>Not available.</p>
{% endif %}

{% endblock content %}
