{% extends 'base.html' %}
{% load emergency_extras %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block title %}
1.5 Представления (Views).
{% endblock %}

{% block content %}
    <div class="container py-5 align-items-center">
        <h1>Создать представление, отображающее количество всех происшествий. Выводить 404, если их нет.</h1>
            <br>

        {% if emergencies %}
        <table class="table">
            <thead class="thead-light col-md-5">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя службы</th>
                <th scope="col">Коды службы</th>
                <th scope="col">Телефон</th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for emergency in emergencies %}
            <tr>
                <th scope="row">{{ emergency.id }}</th>
                <td>{{ emergency.service_name }}</td>
                <td>{{ emergency.service_code }}</td>
                <td>{{ emergency.phone_number }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Not available.</p>
        {% endif %}
    </div>

    {% endblock content %}
